* {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgoldenrodyellow;
}

.navbar {
  display: flex;
}
.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.para {
  font-size: medium;
}
.Heading {
  font-weight: 1100;
}
.side-bar {
  display: flex;
  height: 400px;
}
.section-1 {
  display: flex;
  font-size: larger;
}
.div-nav h1 {
  top: 254px;
  left: 121px;
  width: 548px;
  height: 108px;
  text-align: left;
  font: normal normal 900 40px/54px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.Check-btn {
  font-size: 20px;
  height: auto;
  width: auto;
  color: #ffff;
  background-color: #1492e6;
  text-align: left;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 15px 32px;
}
#heading-1 {
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
}
.cont-1 p {
  box-sizing: border-box;
  width: 320px;
  height: auto;
  padding: 12px;
  margin: 10px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 19px;
  margin-top: 60px;
}
.cont-1 span {
  font-weight: bold;
  font-size: 22px;
  display: flex;
}
.cont-1 {
  align-items: center;
  display: flex;
}
#heading-2 {
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
}
.cont-2 span {
  font-weight: bold;
  font-size: 21px;
  justify-content: space-between;
  display: flex;
}
.cont-2 {
  justify-content: center;
  width: 380px;
  margin-top: 60px;
}
.section-2 {
  align-items: center;
  display: flex;
}
#heading-3 {
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
}
.Goal-part-1{
  display: flex; 
   align-items: center;
   font-size: medium;
}
.intro-1{
  width: 630px;
  align-items: center;
  justify-content: flex-start;
}
.Goal-part-2{
   display: flex; 
   align-items: center;
   font-size: medium;
   
}
.intro-2{
  width: 630px;
  align-items: center;
  justify-content: flex-start;
}
.Goal-part-3{
  display: flex; 
   align-items: center;
   font-size: medium;
}
.intro-3{
  width: 630px;
  align-items: center;
  justify-content: flex-start;
}
.Goal-part-4{
  display: flex; 
   align-items: center;
   font-size: medium;
}
.intro-4{
  width: 630px;
  align-items: center;
  justify-content: flex-start;
}
.image{
  /* margin: 50px; */
  /* margin-left: 10px; */
  margin-right: 20px;

}
#heading-4{
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
}

.Star-review{
  display: flex; 
   align-items: center;
   font-size: medium;
}

  .customer-review{  
    box-sizing: border-box;
    width: 320px;
    height: auto;
    padding: 12px;
    margin: 10px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    margin-top: 60px;
}

